html {
    box-sizing: border-box;
}

*,
*: before,
*: after {
    box-sizing: inherit;
}

#container {
    max-width: 1200px;
    background-color: rgba(244, 231, 231, 0.7);
    width: 85%;
    padding: 1em;
    margin-top: 1em;
    margin-left: 2em;
    font-family: 'Open Sans', sans-serif;
}

h2,
h3 {
    font-family: 'Rock Salt', cursive;
}

#ashley {
    width: 50%;
    height: 50%;
}

header ul li {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #171518;
}


.btn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    color: #5f5c61;
    font-size: 20px;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
    width: 45%;
}

#btn1:hover {
    background: #f4e7e7;
    background-image: -webkit-linear-gradient(top, #f4e7e7, #bddfa1);
    background-image: -moz-linear-gradient(top, #f4e7e7, #bddfa1);
    background-image: -ms-linear-gradient(top, #f4e7e7, #bddfa1);
    background-image: -o-linear-gradient(top, #f4e7e7, #bddfa1);
    background-image: linear-gradient(to bottom, #f4e7e7, #bddfa1);
    text-decoration: none;
}

#btn2:hover {
    background: #f4e7e7;
    background-image: -webkit-linear-gradient(top, #f4e7e7, #93c2e8);
    background-image: -moz-linear-gradient(top, #f4e7e7, #93c2e8);
    background-image: -ms-linear-gradient(top, #f4e7e7, #93c2e8);
    background-image: -o-linear-gradient(top, #f4e7e7, #93c2e8);
    background-image: linear-gradient(to bottom, #f4e7e7, #93c2e8);
    text-decoration: none;

}

#btn3:hover {
    background: #f4e7e7;
    background-image: -webkit-linear-gradient(top, #f4e7e7, #eda8ce);
    background-image: -moz-linear-gradient(top, #f4e7e7, #eda8ce);
    background-image: -ms-linear-gradient(top, #f4e7e7, #eda8ce);
    background-image: -o-linear-gradient(top, #f4e7e7, #eda8ce);
    background-image: linear-gradient(to bottom, #f4e7e7, #eda8ce);
    text-decoration: none;
}

#btn4:hover {
    background: #f4e7e7;
    background-image: -webkit-linear-gradient(top, #f4e7e7, #fccbb8);
    background-image: -moz-linear-gradient(top, #f4e7e7, #fccbb8);
    background-image: -ms-linear-gradient(top, #f4e7e7, #fccbb8);
    background-image: -o-linear-gradient(top, #f4e7e7, #fccbb8);
    background-image: linear-gradient(to bottom, #f4e7e7, #fccbb8);
    text-decoration: none;
}

@media (min-width: 650px) {

    .btn {
        display: inline;
        margin-left: 0.1em;
        margin-right: 0.1em;
        margin-top: 1em;
        padding: 0.2em 2.5em 0.2em 2.5em;
    }
}
